<fieldset class="border-2 border-blue-700 p-2 w-full">
  <legend>App Main Menu</legend>
  <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <div class="w-full md:block md:w-auto">
        <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a [routerLink]="['home']" class="nav-link" aria-current="page">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a [routerLink]="['routing']" class="nav-link">Routing</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</fieldset>
